In [92]:
def date_time_():
    
    DICT_NUMERO = {'ce':1, 'cette':1, 'un':1, 'une':1, 'deux':2, 'trois':3,\
                   'quatre':4, 'cinq':5, 'six':6, 'sept':7,\
              'huit':8, 'neuf':9, 'dix':10, 'onze':11, 'douze':12, 'treize':13,'quartoze':14,\
               'cinze':15, 'seize':16, 'dix-sept':17,'dix sept':17, 'dix huit':18, \
               'dix-huit':18, 'dix-neuf':19, 'vingt':20, 'ving et un':21, 'trente':30, 'quarante':40,\
                  'quarante cinq':45, 'soixante':60}
    DICT_TEMPS = {'heure':1,  'journée':24,  'jour':24, \
              'mois':30*24, 'semaine':7*24, \
              'an':24*365, 'année':24*365, 'minute': 1/60}
    DICT_COMPLET_TEMPS = {}
    for temps in DICT_TEMPS:
        for numéro in DICT_NUMERO:
            key1 = numéro + ' '+temps
            key2 = str(DICT_NUMERO[numéro]) + ' ' +temps
            value = DICT_NUMERO[numéro]*DICT_TEMPS[temps]
            DICT_COMPLET_TEMPS[key1] = value
            DICT_COMPLET_TEMPS[key2] = value
    DICT_FOR_SPECIAL_CASE = {'aujourd\'hui':8, 'hébdomadaire':7*24, 'annuel': 365*24, \
                           'hier': 24, 'avant-hier': 48, 'annuelle': 365*24 }
    DICT_COMPLET_TEMPS['#cas_particulier#'] = DICT_FOR_SPECIAL_CASE
    DICT_COMPLET_TEMPS['avant hier'] = 72
    DICT_COMPLET_TEMPS['semaine dernière'] = 24*7
    return DICT_COMPLET_TEMPS

def _find_right_time(question, Dict):
    
    list_ = ['?', '.', ' ', '\n', '!']
    for symbol in list_:
        question = question.lower().strip(symbol)
    list_word = question.split()
    if len(list_word) < 2:
        return None   
    for key in Dict:
        if key in question:
            return Dict[key]
    for word in DICT_COMPLET_TEMPS['#cas_particulier#']:
            return DICT_COMPLET_TEMPS['#cas_particulier#'][word]        
    return None

def _find_right_geography(question, Dict):
    """
    Nous cherchons une ville, un département dans le dictionnaire pour retourner soit
    ce nom de ce lieu, soit ses coordonnées correspondance. Le retour de ce donnée dépend 
    de quel façon nous allons traiter avec cette information.
    
    """
    list_ = ['?', '.', ' ', '\n', '!']
    for symbol in list_:
        question = question.lower().strip(symbol) 
    list_geography = []
    for word in question.split():
        if word in Dict:
            list_geography.append(word)
    if len(list_geography) >0:
        return list_geography
    else:
        return None

méthode dateparser.search.search_dates retourne correctement les données de types un nombre + temps, mais pas d'ajectif possesif comme "cette semaine", "ce jour", "cette année". Il nous faut tourner ces adjectifs en nombre avant de traiter ces questions.

In [1]:
import time
import re
from dateparser.search import search_dates
import pandas as pd
DICT_COMPLET_TEMPS = date_time_()
KEYWORD_TO_FUNCTION_DICT = {'#id#':'ID Véhicule','#km#':'Distance', '#batterie#':'Tension Batterie',\
                            '#vitesse#':'Vitesse Moyenne', '#carburant#': 'carburant', '#pneu#':'pneu',\
                           '#conduite#':'conduite', '#position#':'position'}
def answers_with_data(question, answer):
    data = _analyse_reponse(question, answer)
    if data is None:
        return answer
    else:
        index = 0
        for word in answer.split():
            if "#" in word:
                good_answer = re.sub(word, str(data[index]), answer)
                index +=1
        return good_answer
    
                
def _analyse_reponse(question, answer):
    """
    arg: question is the question of user, reponse is given by chatbot

    """
    if '#' not in answer:
        return None
    else:
        parameter = []
        for key in KEYWORD_TO_FUNCTION_DICT:
            if key in answer.split():
                parameter.append(key)
        times = _find_right_time(question, DICT_COMPLET_TEMPS)
        ids = find_ids(question)
        variables = _get_variable(answer)
        data = []
        if len(variables)==0:
            return None
        else:
            for variable in variables:
                data.append(_get_data_from_table(ids, variable, times))
            return data
            
def _get_variable(reponse):
    list_variable =[]
    for word in reponse.split():
        if "#" in word:
            list_variable.append(word)
    return [KEYWORD_TO_FUNCTION_DICT[variable] for variable in list_variable
               if variable in KEYWORD_TO_FUNCTION_DICT]

    
def _get_data_from_table(ids, variable, time):
    """
    temps est un couple de début et fin
    """
    df = pd.read_csv('fleet_donnees.csv', sep = ';')
    #time1 = string_to_datetime(time[0])
    #time2 = string_to_datetime(time[1])
    if variable is None:
        return "#TO_CONSTRUCT#"
    if variable =="Tension Batterie":
        return min(df['Tension Batterie'])
    time1 = time[0]
    time2 = time[1]
    if time1 is None:
        time1 = string_to_datetime(df.iloc[0]['Debut période'])
    if time2 is None:
        time2 = string_to_datetime(df.iloc[len(df)-1]['Fin Période'])
    if len(ids) !=0:
        df = df.loc[(df['ID Véhicule'] ==  int(ids))] 
    List = []
    for i in range(len(df)):
        if string_to_datetime(df.iloc[i]['Debut période']) >=time1 and \
           string_to_datetime(df.iloc[i]['Fin Période'])<=time2:
                List.append(i)

    list_data_to_return = df.iloc[List][variable]
    if len(list_data_to_return)>1:
        t = sum(list_string_to_float(list_data_to_return))/len(list_data_to_return)
    else:
        t= list_data_to_return
    return t
        
          
def find_ids(question):
    if 'tous' in question or 'toutes' in question or 'tout'in question or 'toute' in question:
        return None
    else:
        return str(input('indiquez l\'identifiant de ce véhicule:'))
    

def string_to_datetime(string):
    t = search_dates(string)
    t = t[0][1]
    t = time.mktime(t.timetuple())
    return t

def list_string_to_float(List_string):
    List = []
    for string in List_string:
        if type(string)==str:
            string = re.sub(',', '.', string)
        else:
            pass
        string2float  = float(string)
        List.append(string2float)
    return List
 
    
def find_good_time_in_table(begin_time, end_time):
    """
    begin_time and end_time is in float type
    return right begin_time and end_time in table""" 
    import pandas as pd
    df = pd.read_csv('fleet_donnees.csv', sep = ';')
    start_time_colone = df['Debut période']
    end_time_colone = df['Fin Période']
    start_time_table = []
    for i in start_time_colone:
        time,_=find_right_time(i)
        start_time_table.append(time)
    end_time_table = []
    for i in fin_time_colone:
        time, _ = find_right_time(i)
        end_time_table.append(time)
    start = start_time_table[-1]
    for i in start_time_table:
        if begin_time <= i:
            start = i
            break
    end = end_time_table[-1]
    for i in end_time_table:
        if end <=i:
            end = i
            break
    start = start_time_table.index(start)
    end =  end_time_table.index(end)
    start = start_time_colone[start]
    end = _time_colone[end]
    return start, end

/home/ubuntu/anaconda3/lib/python3.6/site-packages/matplotlib/__init__.py:1067: UserWarning: Duplicate key in file "/home/ubuntu/.config/matplotlib/matplotlibrc", line #2
  (fname, cnt))
/home/ubuntu/anaconda3/lib/python3.6/site-packages/matplotlib/__init__.py:1067: UserWarning: Duplicate key in file "/home/ubuntu/.config/matplotlib/matplotlibrc", line #3
  (fname, cnt))

In [96]:
question = 'combien de véhicules qui roulent la semaine dernière'
answer ='#vitesse#'
answers_with_data(question, answer)

TypeError: find_right_time() missing 1 required positional argument: 'Dict'

In [20]:
question = 'combien de véhicules qui roulent cette semaine'
a, b = find_right_time(question)

In [18]:
question = 'combien de véhicules qui roulent aujourd\'hui'
a1, b1 = find_right_time(question)

In [21]:
(b-a)/(60*60*24)

7.514115106198523

In [19]:
(b1-a1)/(60*60*24)

7.514033025194098

In [9]:
question = 'combien de véhicules qui roulent hier'
find_right_time(question)

(1530144000.0, 1530792962.5088363)

In [87]:
reponse = "#check_batterie#"
question = 'les batteries sont faibles'
a = _get_variable(reponse)
a[0] == 'Tension Batterie'
answers_with_data(question, reponse)

indiquez l'identifiant de ce véhicule:

'12.33'

In [42]:
len(DICT_COMPLET_TEMPS)

681

In [59]:
DICT_COMPLET_TEMPS = date_time_()
question = 'combien de voiture aujourd\'hui'
for temps in DICT_COMPLET_TEMPS:
    if temps in question:
        print(DICT_COMPLET_TEMPS[temps])

12

In [16]:
def datetime_to_float(d):
    import datetime
    epoch = datetime.datetime.utcfromtimestamp(0)
    total_seconds =  (d - epoch).total_seconds()
    return total_seconds
def float_to_datetime(fl):
    return datetime.datetime.fromtimestamp(fl)

In [73]:
answers_with_data('aldlc mazfq', '"#check_batterie#"')

indiquez l'identifiant de ce véhicule:

'"#check_batterie#"'

In [51]:
import dateparser
from dateparser.search import search_dates

In [1]:
import parsedatetime

In [3]:
cal = parsedatetime.Calendar()

In [10]:
cal.parse(" je vais  chez un ami demain matin")

(time.struct_time(tm_year=2018, tm_mon=6, tm_mday=5, tm_hour=14, tm_min=28, tm_sec=49, tm_wday=1, tm_yday=156, tm_isdst=0),
 0)

In [11]:
cal.parse("combien de km cette semaine")

(time.struct_time(tm_year=2018, tm_mon=6, tm_mday=5, tm_hour=14, tm_min=29, tm_sec=17, tm_wday=1, tm_yday=156, tm_isdst=0),
 0)

In [12]:
cal.parse("cette voiture a roulé pendant 3 heures")

(time.struct_time(tm_year=2018, tm_mon=6, tm_mday=5, tm_hour=14, tm_min=30, tm_sec=3, tm_wday=1, tm_yday=156, tm_isdst=0),
 0)

In [14]:
cal.parse("combien de km mon véhicule a parouru pour pendant 3 jours")

(time.struct_time(tm_year=2018, tm_mon=6, tm_mday=11, tm_hour=14, tm_min=31, tm_sec=38, tm_wday=0, tm_yday=162, tm_isdst=-1),
 1)

In [65]:
import pandas as pd
df = pd.read_csv('fleet_donnees.csv', sep = ';')
df

,ID Véhicule,Tension Batterie,Debut période,Fin Période,Nombre Trajets,Distance,Temps Total,Temps Attente,Temps Conduite,Jours Roulage,Vitesse Moyenne,Km initial,Km final,Unnamed: 13,Unnamed: 14,Unnamed: 15
0,29608,12.70,22/01/2018,31/01/2018,40,"1637,620816",25:9,02:37,22:32,9,73.32,1432,3070,NaN,NaN,NaN
1,29608,12.96,01/02/2018,28/02/2018,69,"2577,727661",39:47,04:26,35:21,16,70.81,3070,5647,NaN,NaN,NaN
2,29608,12.80,01/03/2018,30/03/2018,118,"5142,256136",78:12,08:26,69:45,24,73.28,5647,10790,NaN,NaN,NaN
3,29608,12.85,03/04/2018,27/04/2018,41,"2278,983592",33:34,03:41,29:52,13,72.87,10790,13069,NaN,NaN,NaN
4,37888,12.75,22/01/2018,31/01/2018,34,"2021,134392",28:0,02:15,25:44,7,78.49,134202,136223,NaN,NaN,NaN
5,37888,12.92,01/02/2018,27/02/2018,48,"1819,44311",29:19,04:8,25:11,15,72.52,136223,138043,NaN,NaN,NaN
6,37888,13.07,01/03/2018,23/03/2018,57,"2470,498639",38:5,04:27,33:38,17,69.27,138043,140513,NaN,NaN,NaN
7,37888,12.90,04/04/2018,27/04/2018,43,"2186,584804",32:48,04:12,28:35,14,67.22,140513,142700,NaN,NaN,NaN
8,68078,12.60,24/04/2018,27/04/2018,15,"442,325024",06:26,00:30,05:56,3,74.45,26420,26862,NaN,NaN,NaN
9,73426,13.05,22/01/2018,31/01/2018,25,"1145,062572",17:24,01:56,15:27,8,76.78,116270,117415,NaN,NaN,NaN
10,73426,13.08,01/02/2018,28/02/2018,42,"1037,796028",19:11,02:51,16:20,16,60.14,117415,118453,NaN,NaN,NaN
11,73426,13.20,01/03/2018,30/03/2018,78,"3789,757084",56:39,06:16,50:23,21,73.46,118453,122243,NaN,NaN,NaN
12,73426,13.08,03/04/2018,27/04/2018,64,"3596,95088",51:8,05:34,45:34,16,76.25,122243,125840,NaN,NaN,NaN
13,173061,12.80,22/01/2018,31/01/2018,22,"601,670342",11:16,01:57,09:19,8,66.27,861,1463,NaN,NaN,NaN
14,173061,12.82,01/02/2018,28/02/2018,48,"1688,011496",27:12,03:57,23:14,14,65.97,1463,3151,NaN,NaN,NaN
15,173061,12.88,01/03/2018,26/03/2018,72,"3906,169405",55:42,06:32,49:9,19,79.78,3151,7057,NaN,NaN,NaN
16,173061,12.88,03/04/2018,27/04/2018,61,"2633,932375",40:18,05:44,34:33,21,75.57,7057,9691,NaN,NaN,NaN
17,178157,12.33,07/03/2018,30/03/2018,57,"855,685405",17:41,02:54,14:47,14,50.68,75880,76736,NaN,NaN,NaN
18,178157,12.35,03/04/2018,27/04/2018,51,"1472,167023",27:17,04:13,23:3,15,65.12,76736,78208,NaN,NaN,NaN
19,184854,13.05,22/01/2018,31/01/2018,35,"1565,765234",24:4,03:8,20:56,8,74.87,56477,58043,NaN,NaN,NaN
20,184854,13.12,01/02/2018,28/02/2018,53,"2328,6852",33:13,03:39,29:34,18,78.85,58043,60371,NaN,NaN,NaN
21,184854,12.98,01/03/2018,27/03/2018,69,"3711,259186",50:7,05:7,44:59,20,80.10,60371,64083,NaN,NaN,NaN
22,184854,13.07,03/04/2018,26/04/2018,45,"2334,707809",34:51,04:4,30:47,14,77.99,64083,66417,NaN,NaN,NaN
23,193971,13.15,22/01/2018,31/01/2018,27,"1499,620235",20:57,02:7,18:50,7,78.35,4746,6246,NaN,NaN,NaN
24,193971,13.06,01/02/2018,28/02/2018,47,"1161,312772",20:48,03:40,17:8,17,59.74,6246,7407,NaN,NaN,NaN
25,193971,13.12,01/03/2018,30/03/2018,122,"4879,161",76:6,08:30,67:36,23,70.93,7407,12286,NaN,NaN,NaN
26,193971,12.70,03/04/2018,27/04/2018,53,"3431,13219",46:56,04:55,42:0,18,82.07,12286,15717,NaN,NaN,NaN
27,202866,12.95,06/03/2018,30/03/2018,66,"3791,173374",54:26,05:29,48:56,18,77.52,136500,140291,NaN,NaN,NaN
28,202866,12.93,03/04/2018,27/04/2018,29,"2032,552323",25:43,02:10,23:33,9,84.99,140291,142324,NaN,NaN,NaN
29,299532,12.80,06/03/2018,30/03/2018,63,"2139,138014",39:39,04:32,35:7,22,60.14,96251,98390,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77,721033,12.86,01/03/2018,30/03/2018,75,"3190,753296",46:39,05:47,40:51,22,77.92,9620,12811,NaN,NaN,NaN
78,721033,12.77,02/04/2018,27/04/2018,58,"2744,736688",41:3,04:55,36:7,19,72.06,12811,15556,NaN,NaN,NaN
79,728542,12.50,03/04/2018,27/04/2018,12,"225,666776",04:21,00:44,03:36,8,46.93,68828,69054,NaN,NaN,NaN
80,769721,12.75,22/01/2018,30/01/2018,24,"1163,552145",16:1,01:48,14:13,6,82.19,73709,74873,NaN,NaN,NaN
81,797221,13.10,22/01/2018,31/01/2018,26,"1193,482039",18:9,01:57,16:12,8,73.88,55714,56907,NaN,NaN,NaN
82,797221,12.92,01/02/2018,28/02/2018,52,"1813,275034",31:52,04:38,27:14,15,63.59,56907,58721,NaN,NaN,NaN
83,797221,13.04,01/03/2018,30/03/2018,75,"4895,42896",64:26,05:53,58:33,21,84.62,58721,63616,NaN,NaN,NaN
84,797221,12.97,03/04/2018,27/04/2018,74,"3084,879982",50:42,06:40,44:1,21,70.36,63616,66701,NaN,NaN,NaN
85,845517,13.25,23/01/2018,31/01/2018,24,"1309,473338",19:23,01:53,17:30,7,75.09,1752,3061,NaN,NaN,NaN
86,845517,13.02,01/02/2018,28/02/2018,52,"2749,552421",42:18,05:43,36:35,18,72.55,3061,5811,NaN,NaN,NaN
87,845517,12.90,01/03/2018,30/03/2018,80,"3772,933037",53:52,06:39,47:13,21,78.26,5811,9584,NaN,NaN,NaN
88,845517,12.88,03/04/2018,27/04/2018,80,"3201,157411",51:3,06:22,44:40,19,69.75,9584,12785,NaN,NaN,NaN
89,852536,12.60,31/01/2018,31/01/2018,2,"24,985147",00:26,00:1,00:25,1,58.43,112013,112038,NaN,NaN,NaN
90,852536,12.93,08/02/2018,28/02/2018,16,"523,974721",09:54,01:29,08:24,6,55.83,112038,112562,NaN,NaN,NaN
91,852536,12.92,01/03/2018,29/03/2018,23,"610,924418",11:18,01:39,09:39,10,48.75,112562,113173,NaN,NaN,NaN
92,852536,12.90,04/04/2018,10/04/2018,7,"306,998067",04:36,00:30,04:5,3,52.78,113173,113480,NaN,NaN,NaN
93,931687,13.40,22/01/2018,30/01/2018,26,"1320,574723",17:48,01:38,16:10,7,83.39,87285,88606,NaN,NaN,NaN
94,931687,13.00,01/02/2018,28/02/2018,49,"1990,13044",32:36,04:18,28:18,17,65.08,88606,90596,NaN,NaN,NaN
95,931687,12.70,01/03/2018,29/03/2018,94,"4224,90864",60:59,05:59,55:0,21,76.38,90596,94821,NaN,NaN,NaN
96,931687,12.90,03/04/2018,27/04/2018,81,"3228,728842",49:25,05:16,44:9,17,73.04,94821,98049,NaN,NaN,NaN
97,971458,12.85,22/01/2018,31/01/2018,26,"669,347529",10:14,00:56,09:18,6,70.59,51127,51796,NaN,NaN,NaN
98,971458,12.96,01/02/2018,28/02/2018,72,"2374,056211",38:30,03:42,34:48,22,67.48,51796,54170,NaN,NaN,NaN
99,971458,12.90,01/03/2018,31/03/2018,106,"5426,939684",81:17,06:48,74:29,23,73.38,54170,59597,NaN,NaN,NaN
100,971458,13.18,03/04/2018,26/04/2018,88,"4345,692745",62:16,06:23,55:53,16,77.75,59597,63943,NaN,NaN,NaN
101,983597,12.40,22/03/2018,30/03/2018,2,"169,732786",01:57,00:12,01:45,2,62.31,112577,112747,NaN,NaN,NaN
102,983597,12.63,03/04/2018,27/04/2018,47,"1342,044328",27:46,02:48,24:58,14,53.74,112747,114089,NaN,NaN,NaN
103,997951,13.00,22/01/2018,31/01/2018,26,"1039,676879",15:14,01:41,13:33,7,76.63,4285,5325,NaN,NaN,NaN
104,997951,12.76,01/02/2018,28/02/2018,53,"2600,008626",40:14,04:43,35:30,17,74.10,5325,7925,NaN,NaN,NaN
105,997951,12.80,01/03/2018,30/03/2018,87,"4525,691493",67:52,06:55,60:56,21,74.56,7925,12450,NaN,NaN,NaN
106,997951,12.92,03/04/2018,27/04/2018,60,"3233,632525",46:59,05:58,41:0,17,78.01,12450,15684,NaN,NaN,NaN

In [281]:
times = find_right_time('combien voiture 6 mois')

In [301]:
t = df['Distance']
list_string_to_float(t)

[1637.620816,
 2577.727661,
 5142.256136,
 2278.983592,
 2021.134392,
 1819.44311,
 2470.498639,
 2186.584804,
 442.325024,
 1145.062572,
 1037.796028,
 3789.757084,
 3596.95088,
 601.670342,
 1688.011496,
 3906.169405,
 2633.932375,
 855.685405,
 1472.167023,
 1565.765234,
 2328.6852,
 3711.259186,
 2334.707809,
 1499.620235,
 1161.312772,
 4879.161,
 3431.13219,
 3791.173374,
 2032.552323,
 2139.138014,
 1377.641813,
 467.673576,
 471.278803,
 559.797765,
 884.816946,
 195.429246,
 332.27637,
 1391.464721,
 185.625469,
 1693.730629,
 2578.343966,
 3750.733035,
 2835.449896,
 1347.532181,
 2152.392967,
 1117.106716,
 2678.762252,
 3993.52228,
 2889.746602,
 531.691829,
 1737.450803,
 2431.930149,
 1523.500081,
 1985.695279,
 2103.362087,
 179.290649,
 727.370583,
 758.164178,
 368.597499,
 1403.078549,
 3198.900027,
 3293.477363,
 2940.737126,
 10.015271,
 1193.751476,
 2154.282411,
 2189.128548,
 725.229704,
 3042.976798,
 3490.496039,
 2045.670678,
 1380.775502,
 2104.780651,
 5148.435177,
 3229.127853,
 1608.621285,
 3011.67221,
 3190.753296,
 2744.736688,
 225.666776,
 1163.552145,
 1193.482039,
 1813.275034,
 4895.42896,
 3084.879982,
 1309.473338,
 2749.552421,
 3772.933037,
 3201.157411,
 24.985147,
 523.974721,
 610.924418,
 306.998067,
 1320.574723,
 1990.13044,
 4224.90864,
 3228.728842,
 669.347529,
 2374.056211,
 5426.939684,
 4345.692745,
 169.732786,
 1342.044328,
 1039.676879,
 2600.008626,
 4525.691493,
 3233.632525]

In [321]:
def func(a):
    if a >1:
        return a*a
    a= a+5
    print('a')
    return a
print(func(2))

4

In [67]:
min(df['Tension Batterie'])

12.33

In [316]:
_get_data_from_table(73426, 'Vitesse Moyenne', times)

71.6575

In [63]:
question = 'distance de voiture afemjoegj'
answer = '#km# '
answers_with_data(question, answer)

indiquez l'identifiant de ce véhicule:714448

'2304.9516775 '

In [309]:
variable = 'Vitesse Moyenne'
List = [1, 2, 5]
list_data_to_return = df.iloc[List][variable]

In [314]:
type('abbc')==str

True